<div class="money-analysis-widget">
  <div class="widget-header">
    <figure class="widget-img"><img src="../../../assets/images/coin-icon.png" alt="widget-coin-img"></figure>
    <h5><strong>Your Money</strong></h5>
    <h1><span>&#163;</span>48,386.37</h1>
  </div>
  <div class="widget-chart">
    <canvas id="myChart" width="300" height="250"></canvas>
	<div class="chart-content">
		<h6>Spent</h6>
		<h4><span>&#163;</span>3,534.72</h4>
		<h6>May</h6>
	</div>
  </div>
  <div class="spent-amount-breakdown">
    <table class="table">
      <tbody>
        <tr>
          <td>
            <figure><img src="../../../assets/images/hsb.png" alt="hsbc-icon"></figure>
          </td>
          <td>
            <h3>HSBC</h3>
            <p>40-23-21 <span>45724853</span></p>
          </td>
          <td><span>&#163;</span>23,617.23</td>
        </tr>
        <tr>
          <td>
            <figure><img src="../../../assets/images/barclays.png" alt="barclays-icon"></figure>
          </td>
          <td>
            <h3>Barclays</h3>
            <p>25-30-23 <span>90185739</span></p>
          </td>
          <td><span>&#163;</span>6,823.83</td>
        </tr>
        <tr>
          <td>
            <figure><img src="../../../assets/images/santander.png" alt="santander-icon"></figure>
          </td>
          <td>
            <h3>Santander</h3>
            <p>35-27-92 <span>37483954</span></p>
          </td>
          <td><span>&#163;</span>5,550.97</td>
        </tr>
        <tr>
          <td>
            <figure><img src="../../../assets/images/cimb-bank.png" alt="cimb-bank-icon"></figure>
          </td>
          <td>
            <h3>CIMB Bank</h3>
            <p>43-74-83 <span>77543271</span></p>
          </td>
          <td><span>&#163;</span>12,394.34</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>